* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: lightsalmon;
    padding: 40px 40px 40px 40px;

}

#header-box h1 {
    font-weight: bolder;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px rgb(86, 84, 84);
}

#current-score-box {
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px rgb(86, 84, 84);
}